<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="summary">
    <input class="document-name" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"
        data-tooltip="{{item.name}}" {{disabled isPlayMode}} />
    <div class="flex">
        <div class="sidebar-card card flex flex-col items-center gap-sm">
            <div class="portrait">
                <img class="profile-img" src="{{item.img}}" data-edit="img" data-action={{ifThen
                    isPlayMode "renderIP" "setImg" }} alt="{{item.name}}" title="{{item.name}}" />
            </div>
            <div class="input-group flex items-center">
                {{#if isPlayMode}}
                <label class="input-group-label">{{localize
                    "POKEYMANZ.Category"}}</label>
                {{#if categoryField.img}}
                <img class="input-group-img" src="{{categoryField.img}}" alt="{{categoryField.value}}">
                {{else}}
                <label class="input-group-label">None</label>
                {{/if}}
                {{else}}
                <label class="input-group-label">{{localize
                    "POKEYMANZ.Category"}}</label>
                {{formInput
                categoryField.field
                value=categoryField.value
                localize=true
                }}
                {{/if}}
            </div>
            {{#if isPlayMode}}
            <div class="flex items-center">
                {{!-- TYPE BADGE --}}
                {{#if pokemonType.primary.value}}
                <div class="type-badge flex items-center size--medium"
                    style="--type-color: {{pokemonType.primary.color}}">
                    <img src="{{pokemonType.primary.img}}" alt="{{pokemonType.primary.id}}">
                    <span>{{localize pokemonType.primary.name}}</span>
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class="input-group flex items-center">
                <label class="input-group-label">{{localize
                    "POKEYMANZ.Type"}}</label>
                {{formInput pokemonType.primary.field
                value=pokemonType.primary.value
                localize=true}}
            </div>
            {{/if}}
            <div>
                {{#if isPlayMode}}
                <a class="rollable-button flex-col" data-action="roll" data-roll="move">
                    <label class="rollable-label flex">
                        {{roll.label}}
                    </label>
                    <div class="rollable-frame flex justify-center">
                        <img src="systems/pokeymanz/assets/dice/d{{roll.faces}}.svg" alt="{{roll.faces.sides}}">
                        {{numberFormat roll.modifier sign=true}}
                    </div>
                </a>
                {{else}}
                <div class="rollable-inputs gap-sm">
                    <label class="rollable-label">
                        {{roll.label}}
                    </label>
                    <div class="rollable-dice-side">
                        {{formInput roll.fields.faces value=roll.faces}}
                    </div>
                    <div class="rollable-dice-mod">
                        {{formInput roll.fields.modifier value=roll.modifier}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="body-container flex gap-sm flex-col">
            {{#each notes as |note|}}
            {{formGroup note.field value=note.value enriched=note.enritch toggled=true accordion=true}}
            {{/each}}
        </div>
    </div>
</section>