<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="summary">
    <div class="summary-header">
        <div class="portrait">
            <img class="profile-img" src="{{item.img}}" data-edit="img" data-action="image" alt="{{item.name}}"
                title="{{item.name}}" />
        </div>
        <div class="summary-inputs">
            <div class="item-type-fields">
                {{#if isPlayMode}}
                <div class="item-type-badge {{system.type.value}}">
                    <i class="fa-solid fa-star"></i>
                    <span>{{localize system.type.label}}</span>
                </div>
                {{#if system.subtype.label}}
                <div class="item-type-badge">
                    <i class="fa-solid fa-star"></i>
                    {{localize system.subtype.label}}
                </div>
                {{/if}}
                {{else}}
                <select name="system.type.value">
                    {{selectOptions choices.typeChoices selected=system.type.value localize=true}}
                </select>
                <select name="system.subtype.value">
                    {{selectOptions choices.subtypeChoices selected=system.subtype.value localize=true}}
                </select>
                {{/if}}
            </div>
            <input class="document-name" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"
                data-tooltip="{{item.name}}" {{disabled isPlayMode }} />
        </div>
    </div>
    <div class="summary-body">
        {{#each descriptionFields as |description|}}
        <div class="description-container accordion-container">
            <div class="description-header">
                {{description.label}}
            </div>
            <div class="description-content">
                {{formInput description.field
                value=description.value
                enriched=description.enriched
                toggled=true}}
            </div>
        </div>
        {{/each}}

    </div>
</section>