<div class="attributes-container grid grid-cols-2 gap-md">
    {{#each attributes as |attribute key|}}
    {{#if ../isPlayMode}}
    <a class="rollable-button {{key}} flex-col" data-action="roll" data-roll="attribute" data-attribute="{{key}}">
        <label class="rollable-label">
            {{attribute.label}}
        </label>
        <div class="rollable-frame flex justify-center">
            <img src="{{attribute.icon}}" alt="{{attribute.faces}}">
            {{numberFormat attribute.modifier sign=true}}
        </div>
    </a>
    {{else}}
    <div class="rollable-inputs {{key}}">
        <label class="rollable-label">
            {{attribute.label}}
        </label>
        <div class="rollable-dice-side">
            {{formInput attribute.fields.faces value=attribute.faces}}
        </div>
        <div class="rollable-dice-mod">
           {{formInput attribute.fields.modifier value=attribute.modifier}}
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>