<div class="attributes-container display--flex--col">
    {{#each system.attributes as |attribute key|}}
    {{#if ../isPlayMode}}
    <a class="rollable-button {{key}} display--flex--col">
        <label class="rollable-label display--flex--center">
            {{localize attribute.name}}
        </label>
        <div class="rollable-frame display--flex--center">
            <img src="systems/pokeymanz/assets/dice/d{{attribute.die.sides}}.svg" alt="{{attribute.die.sides}}">
            {{numberFormat attribute.die.modifier sign=true}}
        </div>
    </a>
    {{else}}
    <div class="rollable-inputs {{key}}">
        <label class="rollable-label">
            {{localize attribute.name}}
        </label>
            <select class="rollable-dice-side" name="system.attributes.{{key}}.die.sides">
                {{selectOptions @root.config.diceOptions
                selected=attribute.die.sides}}
            </select>
            <input class="rollable-dice-mod" type="number" name="system.attributes.{{key}}.die.modifier" ,
                value="{{attribute.die.modifier}}">
    </div>
    {{/if}}
    {{/each}}
</div>