<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder={{localize "POKEYMANZ.Name"}} /></h1>
            <div class="calling-box">
                    <div class="labelbox">
                        <label for="actor.system.details.calling" class="label">{{localize "POKEYMANZ.Calling"}}</label>
                    </div>
                    <div class="valuebox">
                        <input name="system.details.calling" type="text" value="{{actor.system.details.calling}}">
                    </div>
            </div>
            <div class="details-section">
                <div class="detail pronouns-box">
                    <div class="labelbox">
                        <label for="actor.system.details.pronouns" class="label">{{localize "POKEYMANZ.Pronouns"}}</label>
                    </div>
                    <div class="valuebox">
                        <input name="system.details.pronouns" type="text" value="{{actor.system.details.pronouns}}">
                    </div>
                </div>
                <div class="detail currency-box">
                    <div class="labelbox">
                        <label for="actor.system.details.currency" class="label">{{localize "POKEYMANZ.Currency"}}</label>
                    </div>
                    <div class="valuebox">
                        <input name="system.details.currency" type="text" data-dtype="Number"
                            value="{{actor.system.details.currency}}">
                    </div>
                </div>
                <div class="detail age-box">
                    <div class="labelbox">
                        <label for="actor.system.details.age" class="label">{{localize "POKEYMANZ.Age"}}</label>
                    </div>
                    <div class="valuebox">
                        <input name="system.details.age" type="text" data-dtype="Number"
                            value="{{actor.system.details.age}}">
                    </div>
                </div>
            </div>
        </div>
    </header>
</form>