<div class="attr-menu sheet-box">
   <ul>
        {{#each attributes as |attr key|}} 
            <li class="element">
                <label for="{{@key}}.name">{{attr.name}}</label>
                <select name="{{@key}}.sides" data-type="String">
                    {{#select attr.die.sides}}
                        <option value="4">d4</option>
                        <option value="6">d6</option>
                        <option value="8">d8</option>
                        <option value="10">d10</option>
                        <option value="12">d12</option>
                    {{/select}}
                </select>
                <input name="{{@key}}.modifier"  type="text" data-dtype="number" value="{{attr.die.modifier}}">
            </li> 
        {{/each}}
   </ul>
</div>