<div class="stat-menu">
    <div class="toughness-box sheet-box">
        <div class="toughness-autocalc">
            <label for="toughnessBolean" class="stat-menu-label">{{localize "POKEYMANZ.ToughnessBooleanLabel"}}</label>
            <div class="toughness-body">
                <input class="toughness-input" onclick="myFunction()" type="checkbox" name="toughnessBolean" {{checked
                    toughnessBolean}}>
                <p class="toughness-text">{{localize "POKEYMANZ.ToughnessBooleanText"}}</p>
            </div>
        </div>
        <label class="stat-menu-label" for="toughness">{{localize "POKEYMANZ.Toughness"}}</label>
        <div class="toughness-value">
            <div class="number-box">
                <input id="input-toughness-dialog" disabled type="text" name="toughness.value" data-dtype="Number"
                    value="{{toughness.value}}">
                <label class="stat-menu-label" for="toughness-value">{{localize "POKEYMANZ.Value"}}</label>
            </div>
            <div class="number-boxbox">
                <input type="text" name="toughness.modifier" data-dtype="Number" value="{{toughness.modifier}}">
                <label class="stat-menu-label" for="toughness-modifier">{{localize "POKEYMANZ.Modifier"}}</label>
            </div>
        </div>
    </div>
    <div class="type-box sheet-box">
        <label class="stat-menu-label" for="typeLabel">{{localize "POKEYMANZ.Types"}}</label>
        <div class="types">
            <div class="input-type">
                <label for="primaryType">{{localize "POKEYMANZ.PrimaryType"}}</label>
                <select name="primaryType">
                    {{selectOptions choices selected=primary localize=true}}
                </select>
            </div>
            <div class="input-type">
                <label for="secondaryType">{{localize "POKEYMANZ.SecondaryType"}}</label>
                <select name="secondaryType">
                    {{selectOptions choices selected=secondary localize=true }}
                </select>
            </div>
        </div>

    </div>
</div>

<script>
    function myFunction() {
        let input = document.getElementById("input-toughness-dialog");
        if (input.disabled) input.removeAttribute("disabled");
        else input.setAttribute("disabled", '');
    }
</script>