<div class="stat-menu">
    <fieldset>
        <legend>{{localize "POKEYMANZ.Stats.Toughness"}}</legend>
        {{formGroup toughnessBoleanField name="toughnessBolean" value=systemData.setting.autoCalcToughness localize=true}}
        {{formGroup toughnessValueField name="toughnessValue" value=systemData.stats.toughness.value localize=true}}
        {{formGroup toughnessModField name="toughnessMod" value=systemData.stats.toughness.modifier localize=true}}
    </fieldset>
    <fieldset>
        <legend>{{localize "POKEYMANZ.PokemonType"}}</legend>
        {{formGroup primaryTypeField name="primaryType" value=systemData.stats.types.primary localize=true}}
        {{formGroup secondaryTypeField name="secondaryType" value=systemData.stats.types.secondary localize=true}}
    </fieldset>
</div>