<section class="tab effects {{tab.cssClass}}" data-group="primary" data-tab="features">
    <ol class="items-list">
        {{#each feats as |section sid|}}
        <li class="items-header flexrow">
            <div class="item-name flexrow">
                {{section.label}}
            </div>
            <div class="item-data">
                Subtype
            </div>
            <div class="item-controls">
                <a class="item-control" data-action="createDoc" data-document-class="Item" data-type="feat"
                    data-system-type="{{sid}}" data-tooltip="{{localize 'DOCUMENT.New' type='Feat' }}">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </li>
        <ol class="item-list spacing--p-0 spacing--m-0">
            {{#each section.items as |item|}}
            <li class="item feat flexrow draggable" data-doc-id="{{item.id}}" data-document-class="Item" data-drag="true">
                <div class="item-name item-name flexrow">
                    <img class="item-image" src="{{item.img}}" height="24" width="24" alt="{{item.name}}">
                    <div>{{item.name}}</div>
                </div>
                <div class="item-subtype">{{localize
                    item.system.subtype.label}}</div>
                <div class="item-controls flexrow">
                    <a class="item-control" data-action="viewDoc" data-tooltip="{{localize 'DOCUMENT.Update'
                        type=item.name }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{#if @root.editable}}
                    <a class="item-control" data-action="deleteDoc" data-tooltip="{{localize 'DOCUMENT.Delete'
                        type=item.name }}">
                        <i class="fas fa-trash"></i>
                    </a>
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ol>
        {{/each}}
    </ol>
</section>