<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="summary">
    <div class="character-card">
        <div class="sidebar-card flexcol">
            <div class="portrait actor-portrait">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="image" alt="{{actor.name}}"
                    title="{{actor.name}}" />
            </div>
            {{#if isPlayMode}}
            <div class="attributes-container">
                {{#each system.attributes as |attribute key|}}
                <a class="attribute-container {{key}} flexcol">
                    <label class="attribute-label">{{localize attribute.name}}</label>
                    <div class="attribute-roll">
                        <img src="systems/pokeymanz/assets/dice/d{{attribute.die.sides}}.svg"
                            alt="{{attribute.die.sides}}">
                        {{numberFormat attribute.die.modifier sign=true}}
                    </div>
                </a>
                {{/each}}
            </div>
            {{else}}
            <div class="attributes-container-edit">
                {{#each system.attributes as |attribute key|}}
                <div class="attributes-container {{key}}">
                    <label class="attribute-label">{{localize attribute.name}}</label>
                    <div class="attributes-inputs flexrow">
                        <select class="attribute-side" name="system.attributes.{{key}}.die.sides">
                            {{selectOptions @root.config.diceOptions selected=attribute.die.sides}}
                        </select>
                        <input class="attribute-mod" type="number" name="system.attributes.{{key}}.die.modifier" ,
                            value="{{attribute.die.modifier}}">
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        <div class="body-card flexcol">
            <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}"
                data-tooltip="{{actor.name}}" {{disabled isPlayMode }} />
            <div class="types-container">
                {{#if isPlayMode}}
                {{#if types.primaryType}}
                <div class="type-badge" style="--type-color: {{types.primaryType.color}}">
                    <img src="{{types.primaryType.img}}" alt="{{types.primaryType.id}}">
                    <span>{{localize types.primaryType.name}}</span>
                </div>
                {{/if}}
                {{#if types.secondaryType}}
                <div class="type-badge" style="--type-color: {{types.secondaryType.color}}">
                    <img src="{{types.secondaryType.img}}" alt="{{types.secondaryType.id}}">
                    <span>{{localize types.secondaryType.name}}</span>
                </div>
                {{/if}}
                {{else}}
                Types:
                <div class="type-select-container">
                    {{formInput systemFields.stats.fields.types.fields.primary value=system.stats.types.primary
                    localize=true}}
                </div>
                <div class="type-select-container">
                    {{formInput systemFields.stats.fields.types.fields.secondary value=system.stats.types.secondary
                    localize=true}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>

</section>