<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="summary">
    <div class="display--flex">
        <div class="sidebar-card card flexcol">
            <div class="portrait actor-portrait">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action={{ifThen
                    isPlayMode "renderIP" "setImg" }} alt="{{actor.name}}" title="{{actor.name}}" />
            </div>
            <div class="stat-bar display--flex--space-evenly">
                <div class="toughtness-container stat-container display--flex--center">
                    <i class="stat-icon fa-solid fa-shield"></i>
                    <input class="stat-input spacing--p-0" type="number" name="system.stats.toughness.value"
                        value="{{system.stats.toughness.value}}" {{disabled isPlayMode }}>
                </div>
                <div class="wounds-container stat-container display--flex--center">
                    <i class="stat-icon fa-solid fa-heart"></i>
                    <div class="wound-input-container display--flex">
                        <input class="stat-input spacing--p-0" type="number" name="system.stats.wounds.value"
                            value="{{system.stats.wounds.value}}">
                        <span>/</span>
                        <input class="stat-input spacing--p-0" type="number" name="system.stats.wounds.max"
                            value="{{system.stats.wounds.max}}" {{disabled isPlayMode }}>
                    </div>
                </div>
            </div>
            <div class="types-container display--flex">
                {{#if isPlayMode}}
                {{#if pokemonType.primary.value}}
                <div class="type-badge display--flex--center size--small"
                    style="--type-color: {{pokemonType.primary.color}}">
                    <img src="{{pokemonType.primary.img}}" alt="{{pokemonType.primary.id}}">
                    <span>{{localize pokemonType.primary.name}}</span>
                </div>
                {{/if}}
                {{#if pokemonType.secondary.value}}
                <div class="type-badge display--flex--center size--small"
                    style="--type-color: {{pokemonType.secondary.color}}">
                    <img src="{{pokemonType.secondary.img}}" alt="{{pokemonType.secondary.id}}">
                    <span>{{localize pokemonType.secondary.name}}</span>
                </div>
                {{/if}}
                {{else}}
                <div class="type-select-container">
                    {{formInput pokemonType.primary.field
                    value=pokemonType.primary.value
                    localize=true}}
                </div>
                <div class="type-select-container">
                    {{formInput pokemonType.secondary.field
                    value=pokemonType.secondary.value
                    localize=true}}
                </div>
                {{/if}}
            </div>
            {{#if actor.haveAttributes}}
            {{> pokeymanz.attributes-container isPlayMode=isPlayMode
            system=system }}
            {{/if}}
        </div>
        <div class="body-container flexcol">
            <input class="document-name" name="name" type="text" value="{{actor.name}}" data-tooltip="{{actor.name}}"
                {{disabled isPlayMode }} />
            <div class="display--flex details-container">
                {{#each detailsFields as |field|}}
                <div class="input-group display--flex--center size--{{field.size}}" data-tooltip="{{field.value}}">
                    <label class="input-group-label">{{field.label}}</label>
                    <input class="input-group-field" type="{{field.type}}" name="{{field.name}}" value="{{field.value}}"
                        {{disabled ../isPlayMode }}>
                </div>
                {{/each}}
            </div>
            <div class="move-list display--flex--col">
                {{#each moves as |move|}}
                {{#if move}}
                <div class="move-container display--flex">
                    <div class="move-portrait display--flex--center">
                        <div class="drag-line">
                            <i></i>
                        </div>
                        <div class="img-portrait" data-action="useItem" data-item-uuid="{{move.uuid}}"
                            data-tooltip="{{localize 'POKEYMANZ.Item.UseItem' item=move.name}}">
                            <img class="move-icon" src="{{move.img}}" alt="{{move.name}}">
                            <img class="roll-icon" src="icons/svg/d20-black.svg" alt="roll-dice">
                        </div>
                    </div>
                    <div class="move-accordion">
                        <div class="move-header display--flex">
                            <div class="move-name">
                                {{move.name}}
                            </div>
                            <div class="move-type">
                                <div class="type-badge display--flex--center size--medium"
                                    style="--type-color: {{move.moveType.color}}">
                                    <img src="{{move.moveType.img}}" alt="{{move.moveType.id}}">
                                    <span>{{localize
                                        move.moveType.name}}</span>
                                </div>
                            </div>
                            <a class="move-menu fix-context-menu aling--right" data-item-uuid="{{move.uuid}}">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                        </div>
                        <div class="move-content">
                            <div class="description-content">
                                {{{move.enrichDescription}}}
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="move-container empty-move display--flex--center" data-action="createDoc"
                    data-document-class="Item" data-type="move" data-tooltip="{{localize 'DOCUMENT.New' type=" Move"
                    }}">
                    <i class="create-doc-icon fa-solid fa-square-plus"></i>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</section>