<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="summary">
    <div class="flex">
        <div class="sidebar-card card flex-col">
            <div class="portrait actor-portrait">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action={{ifThen
                    isPlayMode "renderIP" "setImg" }} alt="{{actor.name}}" title="{{actor.name}}" />
            </div>
            <div class="stat-bar flex justify-around">
                <div class="toughtness-container stat-container flex items-center">
                    <i class="stat-icon fa-solid fa-shield"></i>
                    <input class="stat-input spacing--p-0" type="number" name="system.stats.toughness.value"
                        value="{{system.stats.toughness.value}}" {{disabled isPlayMode }}>
                </div>
                <div class="wounds-container stat-container flex items-center">
                    <i class="stat-icon fa-solid fa-heart"></i>
                    <div class="wound-input-container flex">
                        <input class="stat-input spacing--p-0" type="number" name="system.stats.wounds.value"
                            value="{{system.stats.wounds.value}}">
                        <span>/</span>
                        <input class="stat-input spacing--p-0" type="number" name="system.stats.wounds.max"
                            value="{{system.stats.wounds.max}}" {{disabled isPlayMode }}>
                    </div>
                </div>
            </div>
            <div class="types-container flex">
                {{#if isPlayMode}}
                {{#if pokemonType.primary.value}}
                <div class="type-badge flex items-center size--medium"
                    style="--type-color: {{pokemonType.primary.color}}">
                    <img src="{{pokemonType.primary.img}}" alt="{{pokemonType.primary.id}}">
                    <span>{{localize pokemonType.primary.name}}</span>
                </div>
                {{/if}}
                {{#if pokemonType.secondary.value}}
                <div class="type-badge flex items-center size--medium"
                    style="--type-color: {{pokemonType.secondary.color}}">
                    <img src="{{pokemonType.secondary.img}}" alt="{{pokemonType.secondary.id}}">
                    <span>{{localize pokemonType.secondary.name}}</span>
                </div>
                {{/if}}
                {{else}}
                <div class="type-select-container">
                    {{formInput pokemonType.primary.field
                    value=pokemonType.primary.value
                    localize=true}}
                </div>
                <div class="type-select-container">
                    {{formInput pokemonType.secondary.field
                    value=pokemonType.secondary.value
                    localize=true}}
                </div>
                {{/if}}
            </div>
            {{#if actor.haveAttributes}}
            {{> pokeymanz.attributes-container isPlayMode=isPlayMode attributes=attributes }}
            {{/if}}
            {{#if actor.haveTrainer}}
            <div class="trainer-fields-container flex flex-col">
                {{#if (not isPlayMode)}}
                <div class="input-group flex items-center">
                    <label class="input-group-label">{{localize "TYPES.Actor.trainer"}}</label>
                    {{formInput trainer.field
                    value=trainer.value
                    }}
                </div>
                {{/if}}
                {{#if (and trainer.value isPlayMode)}}
                <div class="tainer-container flex flex-col">
                    <div class="trainer-portrait flex">
                        <img class="trainer-sheet" src="{{actor.system.trainer.value.img}}"
                            alt="{{actor.system.trainer.value.name}}" data-action="openTrainerSheet">
                    </div>

                    <div class="edit-switch-contianer flex items-center">
                        <i class="switch-icon fa-solid fa-backpack {{ ifThen trainer.inTeam 'active' '' }}"></i>
                        <a class="switch-btn" data-action="toggleTrainerTeam">
                            <i class="fa-solid fa-toggle-{{ifThen trainer.inTeam 'off' 'on' }}"></i>
                        </a>
                        <i class="switch-icon fa-solid fa-computer-classic {{ifThen trainer.inTeam '' 'active' }}"></i>
                    </div>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div class="body-container gap-sm flex flex-col">
            <input class="document-name" name="name" type="text" value="{{actor.name}}" data-tooltip="{{actor.name}}"
                {{disabled isPlayMode }} />
            <div class="flex details-container gap-sm">
                {{#each detailsFields as |field|}}
                <div class="input-group flex items-center size--{{field.size}}" data-tooltip="{{field.value}}">
                    <label class="input-group-label">{{field.label}}</label>
                    <input class="input-group-field" type="{{field.type}}" name="{{field.name}}" value="{{field.value}}"
                        {{disabled ../isPlayMode }}>
                </div>
                {{/each}}
            </div>
            {{#if moves}}
            <div class="move-list gap-md flex flex-col">
                {{#each moves as |move|}}
                {{#if move}}
                <div class="move-container flex">
                    <div class="move-portrait flex">
                        <div class="drag-line draggable" data-doc-id="{{move._id}}" data-document-class="Item">
                            <i></i>
                        </div>
                        <div class="img-portrait" data-action="useItem" data-item-uuid="{{move.uuid}}"
                            data-tooltip="{{localize 'POKEYMANZ.Item.UseItem' item=move.name}}">
                            <img class="move-icon" src="{{move.img}}" alt="{{move.name}}">
                            <img class="roll-icon" src="icons/svg/d20-black.svg" alt="roll-dice">
                        </div>
                    </div>
                    <div class="move-accordion">
                        <div class="move-header flex">
                            <div class="move-name">
                                {{move.name}}
                            </div>
                            <div class="move-type">
                                <div class="type-badge flex size--medium" style="--type-color: {{move.moveType.color}}">
                                    <img src="{{move.moveType.img}}" alt="{{move.moveType.id}}">
                                    <span>{{localize
                                        move.moveType.name}}</span>
                                </div>
                            </div>
                            <a class="move-menu fix-context-menu aling--right" data-item-uuid="{{move.uuid}}">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                        </div>
                        <div class="move-content">
                            <div class="description-content">
                                {{{move.enrichDescription}}}
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="move-container empty-move flex justify-center" data-action="createDoc"
                    data-document-class="Item" data-type="move" data-tooltip="{{localize 'DOCUMENT.New' type=" Move"
                    }}">
                    <i class="create-doc-icon fa-solid fa-square-plus"></i>
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if pokemons}}
            <div class="pokemon-list gap-md flex flex-col">
                {{#each pokemons.team as |pokemon|}}
                <div class="info-card pokemon-card flex">
                    <div class="portrait-contianer">
                        <img src="{{pokemon.img}}" alt="{{pokemon.name}}">
                    </div>
                    <div class="card-containter">
                        <div class="title-container flex">
                            <span>
                                {{pokemon.name}}
                            </span>
                            <div class="types-icons flex gap-sm">
                                {{#if pokemon.system.stats.pokemonTypes.primary.value}}
                                <img style="--type-color: {{pokemon.system.stats.pokemonTypes.primary.color}};"
                                    src="{{pokemon.system.stats.pokemonTypes.primary.img}}"
                                    alt="{{localize pokemon.system.stats.pokemonTypes.primary.name}}">

                                {{/if}}
                                {{#if pokemon.system.stats.pokemonTypes.secondary.value}}
                                <img style="--type-color: {{pokemon.system.stats.pokemonTypes.secondary.color}};"
                                    src="{{pokemon.system.stats.pokemonTypes.secondary.img}}"
                                    alt="{{localize pokemon.system.stats.pokemonTypes.secondary.name}}">
                                {{/if}}
                            </div>
                        </div>
                        <div class="card-content grid grid-rows-2">
                            {{#each pokemon.itemTypes.move as |move|}}
                            <a class="move-button flex items-center justify-around" style="--type-color: {{move.moveType.color}};" data-action="useItem" data-item-uuid="{{move.uuid}}">
                                <img src="{{move.moveType.img}}" alt="{{move.moveType.id}}" data-tooltip="{{move.moveType.name}}">
                                <span data-tooltip="{{move.name}}">{{move.name}}</span>
                                <img class="dice-icon" src="{{move.system.roll.diceIcon}}" data-tooltip="{{move.system.roll.formula}}">
                            </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</section>